h2.jumbotron= @product.name
h2= @product.description
h2= @product.price
- @product.photos.each do |photo|
  p
  = link_to image_tag(photo.image.url,
   class: 'media-object'),
      photo.image.url, target: '_blank'
br/
= link_to @product.category.name, admin_category_path(@product.category)
br/
= link_to 'Edit', edit_admin_product_path(@product)
br/
= link_to 'Back', admin_products_path
br/
= link_to 'Delete', admin_product_path(@product), method: :delete,
        data: {confirm: "Are you sure?"}
