html
  head
    = render 'layouts/head'

  body
    p.navbar-text.float-right
      = render 'layouts/shopping_cart'
      span &nbsp
      = render 'layouts/header'
      span &nbsp
    div style=("display: none;")
    - if notice
      p.alert.alert-success= notice
    - if alert
      p.alert.alert-danger= alert
    = yield
